@tailwind base;
@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    a {
        @apply text-blue-600;
    }
}


@tailwind components;
@tailwind utilities;





:root {
    --color-primary: #FF8A00;
    --color-primary-dark: #DF851B;
    --color-navbar: #615D5D;
}


html  {
    font-family: var(--font-roboto-condensed);
}

h1 {
    font-family: var(--font-roboto);
}

body {
    overflow-x: hidden;
    box-sizing: border-box;

}
